<nav class="navbar fixed-top navbar-expand-xl navbar-dark">
  <a class="navbar-brand" href="/"><span class="sr-only">Home</span><img alt="NODA logo" src="/images/noda-nav-logo.svg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="sr-only">Toggle Menu</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      {% assign links = site.data.nav %}
      {% for link in links %}
        {% assign class = nil %}
        {% if page.url contains link.url %}
            {% assign class = 'active' %}
        {% endif %}
        {% if link.sublinks %}
          <li class="nav-item dropdown {{ class }}">
              <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ link.title }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for sublink in link.sublinks %}
                      {% if sublink.title == 'separator' %}
                        <div class="dropdown-divider"></div>
                      {% else %}
                        <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}{{ sublink.url }}">{{ sublink.title }}</a>
                      {% endif %}
                  {% endfor %}
              </ul>
          </li>
        {% else %}
          <li class="{{ class }} nav-item">
              <a class="nav-link" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>