$be-blue: #004975;
$be-green: #bed957;

/* Color Theme Swatches in Hex */
$dblue: #143980;
$red: #FF5345;
$lblue: #0bb1e0;
$neon: #bfd857;
$olive: #8aa527;

$noda-red: #AB1E15;
$noda-dark-red: #5E0802;
$noda-light-red: #F74336;
$noda-blue: #1183F7;
$noda-dark-blue: #023C78;
$dark-grey: #1f1f1f;
$grey: #333;